* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  margin-top: 45px;
  align-items: center;
}
.header .logo {
  display: flex;
  width: 50%;
}
.header .logo__svg {
  margin-top: 5px;
}
.header .logo__interno_text {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 50px */
}
.header .nav {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 32px;
}
.header .nav__menubar_link {
  color: #292f36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.maine .intro {
  background-image: url(../cssBlog/style.css);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maine .intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 78px;
  border-radius: 37px 37px 0px 0px;
  background: #FFF;
  margin-top: 170px;
}
.maine .intro__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.maine .intro__text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.latest-post__title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  margin-top: 141px;
  margin-bottom: 50px;
}
.latest-post .post-box {
  display: flex;
  padding: 22px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  gap: 65px;
}
.latest-post .post-box__img_get {
  border-radius: 62px;
}
.latest-post .post-box__description {
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.latest-post .post-box__description_title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  letter-spacing: 0.5px;
}
.latest-post .post-box__description_text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.latest-post .post-box__description__footer {
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest-post .post-box__description__footer_text {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.products-title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  margin-top: 156px;
  margin-bottom: 30px;
}
.products-box {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.products .item {
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  width: 386px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.products .item:hover {
  background: #E7E7E7;
}
.products .item__img {
  border-radius: 62px 62px 0 0;
}
.products .item__title {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin: 10px 0px 20px 0px;
}
.products .item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .item__footer_text {
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.footer-box {
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  margin-top: 200px;
}
.footer-box__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 400px;
}
.footer-box__left_text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.footer-box__medium_link {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
}
.footer-box__medium_text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%; /* 66px */
  letter-spacing: 0.22px;
}
.footer-box__right_title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.footer-box__right_text {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.footer .logo {
  display: flex;
  gap: 10px;
}
.footer .logo__svg {
  margin-top: 5px;
}
.footer .logo__interno {
  display: flex;
}
.footer .logo__interno_text {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}/*# sourceMappingURL=style.css.map */
#app { height: 70% }

.body {
  position: relative;
  height: 100%;
}

.body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.body {
  background: #000;
}

.swiper {
  width: 70%;
  height: 50%;
}

.swiper-slide {
  overflow: hidden;
}